* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 20px 24px 0;
}

.header {
    &__top {
        $height: 27px;
        height: $height;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 60px;

        .logo {
            height: $height;
            flex-grow: 1;
            background-image: url('../images/logo.svg');
            background-size: contain;
            background-repeat: no-repeat;
        }

        .menu {
            width: 20px;
            height: 20px;
            background-image: url('../images/closed-menu.svg');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}