$main-color: #686868;
$accent-color: #2F70D9;
$cta-color: #D95845;
$footer-color: #282828;

@font-face {
    font-family: Lora;
    src: url('../fonts/Lora-Bold.ttf'), url('../fonts/Lora-Regular.ttf');
}

@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-Regular.ttf'), url('../fonts/OpenSans-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4 {
    font-family: Lora, "Times New Roman", serif;
    font-weight: 700;
    color: $accent-color;
}

h2 {
    max-width: fit-content;
    height: 38px;

    font-size: 30px;
    line-height: 38px;

    background-image: url('../images/wave-decoration.svg');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: top right;
}

p,
li {
    font-size: 12px;
    font-weight: 400;
    line-height: 141.18%;
    color: $main-color;
}

button {
    letter-spacing: 0.03em;
}

.container {
    margin: 0 24px;
}

.header {
    margin-top: 20px;

    &__top {
        height: 27px;
        margin-bottom: 60px;

        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__logo {
        height: 27px;
        flex-grow: 1;

        background-image: url('../images/logo.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__menu-icon {
        width: 20px;
        height: 20px;

        background-image: url('../images/menu-icon_closed.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__main {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 30px;
    }

    &__heading-wrapper {
        width: 227px;
        height: 52px;
        position: relative;

        background-image: url('../images/wave-decoration_gostinica.svg');
        background-size: 83px;
        background-repeat: no-repeat;
        background-position: top right;
    }

    &__heading {
        position: absolute;
        top: -8px;
        font-size: 60px;
        line-height: 77px;
    }

    &__reservation-btn {
        width: 180px;
        height: 60px;
        border: none;
        border-radius: 10px;
        background-color: $cta-color;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);

        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
    }

    &__background-img {
        height: 232px;
        background-image: url('../images/header-img.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.main {
    &__section {
        margin-top: 60px;
    }
}

.about-us {
    &__text-wrapper {
        margin: 30px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__background-img {
        height: 182px;
        background-image: url('../images/about-us-img.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.we-offer {
    &__cards-wrapper {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-evenly;
    }

    &__card {
        max-width: 126px;
        text-align: center;
    }

    &__wi-fi {
        background-image: url('../images/wi-fi.png');
    }

    &__24-7 {
        background-image: url('../images/24-7.png');
    }

    &__parking {
        background-image: url('../images/parking.png');
    }

    &__television {
        background-image: url('../images/television.png');
    }

    &__cleaning {
        background-image: url('../images/television.png');
    }

    &__bathhouse {
        background-image: url('../images/bathhouse.png');
    }

    &__kitchen {
        background-image: url('../images/kitchen.png');
    }

    &__banquet {
        background-image: url('../images/banquet.png');
    }

    &__canteen {
        background-image: url('../images/canteen.png');
    }
}

.offer-card {
    &__img {
        width: 36px;
        height: 36px;
        margin: 0 auto 10px;
        background-repeat: no-repeat;
        background-size: 36px;
    }

    &__img_wi-fi {
        height: 31px;
    }

    &__img_banquet {
        height: 32.54px;
    }

    &__heading {
        margin-bottom: 5px;
        font-size: 12px;
        line-height: 15px;
    }

    &__text {
        font-size: 10px;
    }
}

.rooms {
    &__cards-wrapper {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__card {
        max-width: 285px;
        padding: 30px 31px;
        border: 3px solid $accent-color;
        border-radius: 20px;

        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.room-card {
    &__img {
        height: 80px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        &_room-for-1 {
            background-image: url('../images/room-for-1.svg');
        }

        &_room-for-2 {
            background-image: url('../images/room-for-2.svg');
        }
    }

    &__heading {
        font-size: 20px;
        line-height: 26px;
        white-space: nowrap;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__li {
        font-size: 16px;
        list-style-type: none;
        padding-left: 30px;
        background-image: url('../images/list-disc.svg');
        background-repeat: no-repeat;
        background-size: 10px;
        background-position: left center;
    }

    &__price-wrapper {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__price {
        font-family: 'Lora';
        font-weight: 700;
        font-size: 25px;
        line-height: 32px;
        color: $cta-color;
    }
}

.reviews {
    &__cards-wrapper {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

.review-card {
    padding: 20px 42px 15px 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    &__user-pic {
        width: 60px;
        height: 60px;
        background-image: url('../images/user-pic.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__user {
        font-size: 16px;
        line-height: 20px;
    }

    &__stay-period {
        font-size: 14px;
        font-weight: 300;
    }
}

.contacts {
    &__card {
        padding: 20px 52px 20px 51px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
    }

    &__address-wrapper,
    &__phone-wrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__address_bold {
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.05em;
    }

    &__phone {
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #000;
    }
}

.footer {
    background-color: $footer-color;
    color: #fff;

    &__wrapper {
        padding: 40px 51px 25px 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__copyright {
        font-family: 'Lora';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: initial;
    }
}